<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Regression Suite">
        <classes>
            <class name="tests.RegistrationTest"/>
            <class name="tests.LoginTest"/>
            <class name="tests.MyAccountTest"/>
            <class name="tests.SearchProductTest"></class>
        </classes>
    </test>
</suite>