<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="Regression Suite">
        <classes>
            <class name="tests.T01RegistrationTest"/>
            <class name="tests.T02LoginTest"/>
            <class name="tests.T04MyAccountTest"/>
            <class name="tests.T05SearchTest"></class>
        </classes>
    </test>
</suite>